  <%
    def link_to(name, url)
        return "<a href='#{url}'>#{name}</a>"
     end
    %>

    

<html>
  <body>
    <h1>You're using a layout</h1>
    <p>
    <% if @request.query['first_name'] && !@request.query['first_name'].empty? %>
      <h3> Hey there <%= @request.query['first_name']%> </h3>
      nice to see that you are a <%= @request.query['gender']%> and <%= @request.query['married']%> .
    <% else %>
      put your name in:
      <form method='post' action="<%= @request.path %>">
        First name: <input type="text" name="first_name" placeholder='first name'/><br />
        Married: <input type="checkbox" name="married" value="married"><br />
        Sex: <input type="radio" name="gender" value="male"> Male<br>
             <input type="radio" name="gender" value="female"> Female<br />
        <input type="submit" value="Submit" />
      </form>
    <% end %>

  <%= @request.query.inspect %>
  <%= @request.query['first_name'] %>  
    </p>
    <hr />
    <div>
      <%= yield %>
    </div>
    <hr />
    <div>
     <%= link_to('This is a link to google', 'http://google.com') %>
      <p>Put things in the footer</p>
    </div>
  </body>
</html>